<% movie = Movie.find_by(id: params["id"]) %>

<h1>Editing Movie #<%= movie.id %></h1>

<%= form_tag "/movies/#{movie.id}", class: 'col-sm-5', method: 'patch' do %>

  <p>Title: <input class="form-control" value="<%= movie.title %>" type="text" name="title" placeholder="Enter a title..."></p>
  <p>Year: <input class="form-control" value="<%= movie.year %>" type="text" name="year" placeholder="Enter a year..."></p>
  <p>Poster URL:<input class="form-control" value="<%= movie.poster_url %>" type="text" name="poster_url" placeholder="Enter a poster..."></p>

  <p>Director ID:
      <select class="form-control" name="director_id">
        <!-- Can you write code to generate these elements -->
        <!-- based on the Director model? -->

        <% for director in Director.all %>
          <option value="<%= director.id %>"><%= director.name %></option>
        <% end %>

      </select>
  </p>



  <button>Submit</button>

<% end %>
