<% movie_id = params[:id] %>
<% movie = Movie.find_by(id: movie_id) %>
<% director = Director.find_by(id: movie.director_id) %>
<% review = Review.find_by(movie_id: movie.id) %>
<div class="row">

  <div class="col-sm-6">
    <h2>
      <%= movie.title %>
    </h2>

<!-- avg rating -->
    <p>
      <% if review != nil %>
        &#9733; Average Rating:
        <%= Review.where(movie_id: movie.id).average(:Rating).round(1) %> (of 5)
      <% end %>
    </p>
  </div>

</div>

<div class="row">

  <div class="col-sm-3">
    <img src="<%= movie.poster_url %>" class="img-fluid">

  </div>

  <div class="col-sm-6">
    <a href="/movies/<%= movie.id %>/edit" class="float-right">
      <i class="fas fa-pen-square"></i>
      Edit This Movie
    </a>

    <% director = Director.find_by(id: movie.director_id) %>
    <% if director != nil %>
      <p>
        Directed by <%= director.name %>
      </p>
    <% end %>

    <p class="lead">
      <strong><%= movie.plot %></strong>
    </p>

    <div class="row mt-3">
      <% characters_in_this_movie = Character.where(movie_id: movie.id) %>
      <% characters_in_this_movie.each do |character| %>

        <% the_actor = Actor.find_by(id: character.actor_id) %>

        <div class="col-sm-3 text-center">
          <%= image_tag(the_actor.photo_url, class: 'img-fluid mb-3') %>
          <br>
          <strong><%= the_actor.name %></strong>
          <br>
          as <%= character.name %>
        </div>

      <% end %>
    </div>

  </div>
</div>

<div class="row mt-5 justify-content-center">
  <div class="col-sm-6">

<!-- add a new review -->

  <% movie = Movie.find_by(id: params["movie_id"]) %>
  <h1><i class="fas fa-pen-square"></i>
    Write a Review</h1>

    <%= form_tag "/reviews", class: 'col-sm-12' do %>
    <input type="hidden" name="movie_id" value="<%= movie_id %>">

      <p>Rating:
          <select name="rating" class="form-control" required>
            <option value="">Please Select...</option>
            <option value="1">&#9733;</option>
            <option value="2">&#9733; &#9733;</option>
            <option value="3">&#9733; &#9733; &#9733; </option>
            <option value="4">&#9733; &#9733; &#9733; &#9733; </option>
            <option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
          </select>
      </p>

      <p>Your Review:
        <textarea class="form-control" cols="80" rows="3" name="content">
        </textarea>
      </p>

      <button class="btn btn-success">Submit Review</button>
      or <%= link_to "Cancel", "/movies/#{movie_id}" %>
    <% end %>

<!-- if there are no reviews-->
  <% if review == nil %>
    <p>
      <center>Be the First to Write a Review!</center>
    <p>

  <!-- If there are existing reviews -->
  <% else %>
    <% for review in Review.where(movie_id: movie.id).order("created_at desc") %>
      <p>
        Star Rating:
          <% review.rating.times do %>
          &#9733;
          <%end%>
      <p>
        <%= time_ago_in_words(review.updated_at) %> ago.
      <p>
        <%= review.content %>
      <hr>
    <%end%>
  <%end%>
  <hr>





  </div>
</div>
